<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <style>
      .centered {
        text-align: center;
      }
    </style>
    <script>
      async function handleClick() {
        let response = await fetch("https://0790a90gii.execute-api.eu-west-2.amazonaws.com/hyr-lambda");
        let text = await response.text();
        document.getElementById("response").innerHTML = text;
        document.getElementById("img").src = 'https://images.unsplash.com/photo-1540573133985-87b6da6d54a9';
      }
    </script>
  </head>
  <body>
    <div class="centered"> <!-- Applied class instead of inline styles -->
      <br>
      <br>
      <br>
      <br>
      <h1>
        <span>Hello</span>
        <span id="response">all! What happens when you click on the button below?</span>
      </h1>
      <button type="button" onclick="handleClick()">Click me</button>
      <br>
      <br>
      <img
        id="img"
        width="1000"
        height="1000"
        src="https://images.unsplash.com/photo-1545906785-38f53f99e380"
        alt="A descriptive image"
      >
    </div>
  </body>
</html>